.topInfo {
  left: 0px;
  padding: 1% 3%;
  background-color: white;
}
.container {
  padding: 0% 3%;
}
#edit {
  position: absolute;
  background-color: black;
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
}
.close {
  right: 0;
  position: absolute;
  font-size: 40px;
  /* margin: 20px; */
  transform: rotate(45deg);
  top: 0;
}
.editInfo {
  padding-top: 5%;
  width: 100%;
  background-color: white;
  opacity: 1;
}
