.topInfo {
  left: 0px;
  padding: 1% 3%;
  background-color: white;
}
.editpage {
  /* height: 100%; */
  min-height: 100vh;
  padding: 0 5%;
  /* background-color: white; */
}
#edit {
  padding: 3%;
  position: absolute;
  background-color: rgba(77, 77, 77, 0.76);
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
}
.close {
  right: 0;
  position: absolute;
  font-size: 40px;
  /* margin: 20px; */
  transform: rotate(45deg);
  top: 0;
}
.topInfo {
  padding: 5% 0;
  width: 100%;
  color: black;
  /* align-items: center; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffe6;
  opacity: 1;
}

.topInfo table tr td {
  /* width: 15%; */
  padding: 0 5%;
}
.topInfo h1 {
  color: #7b68ee;
}
.topInfo h5 {
  color: #f58d32;
}
.table-jobs {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  background-color: #ffffe6;
  color: black;
}
.table-jobs table {
  width: 70%;
  border: 1px solid rgb(122, 121, 121);
}
.table-jobs table thead tr {
  background-color: rgb(54, 54, 54);
  width: 100%;
  /* padding: 3% 0; */
  border-bottom: 1px solid black;
  color: rgb(255, 255, 255);
}
.table-jobs table thead tr th {
  padding: 15px;
}
.table-jobs table tbody tr {
  border-bottom: 1px solid rgb(177, 177, 177);
}

.table-jobs table tbody tr td {
  padding: 1% 0;
}
.table-jobs table tbody tr:hover {
  background-color: #b3ccff;
  color: #ff8000;
}
.addJobs {
  align-items: center;

  width: auto;
  height: 35px;
  background-color: rgb(101, 235, 101);
  position: absolute;
  color: black;
  display: flex;
  padding: 0.5%;
}

.addJobs:hover {
  background-color: rgb(21, 243, 21);
  color: black;
  cursor: pointer;
}
.addJobs span {
  height: 100%;
}
/* table add */
#tableAdd {
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  display: none;
  background-color: rgba(87, 85, 85, 0.692);
}
.center {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mask {
  border-radius: 15px;
  width: 60%;
  height: 50%;
  background-color: white;
}

.close_table {
  width: 50px;
  float: right;
  font-size: 30px;
  padding: 0 2%;
  transform: rotate(45deg);
  position: relative;
}
.close_table:hover {
  cursor: pointer;
}
.table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.table span {
  left: 0;
}
.date-job {
  width: 125%;
}
.date-job-edit {
  width: 115%;
}
/* .bgr {
  min-height: 100vh;
  background-color: rgb(252, 214, 45);
} */
#form-edit {
  display: none;
}
.mask-edit {
  position: absolute;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(102, 102, 102, 0.747);
}
.table-edit {
  padding: 5%;
  position: absolute;
  border-radius: 15px;
  height: auto;
  width: auto;
  background-color: white;
}
.close_edit {
  /* background-color: red; */
  width: 20px;
  height: 20px;
  top: 0px;
  transform: rotate(45deg);
  right: 5px;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  color: black;
}
.close_edit:hover {
  cursor: pointer;
}
.back {
  position: absolute;
  display: flex;
  padding: 3px 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  right: 5%;
  color: #ffffe6;
  justify-content: flex-end;
  background-color: #f86604;
}
.back:hover {
  cursor: pointer;
}
